/* Don't change the existing CSS. */

.box {
  background-color: whitesmoke;
  padding: 10px;
   
}

#outer-box{
  background-color:darkcyan
}

.inner-box{
  background-color: red;
}
p {
  color:darkblue;
  margin: 0;
  padding: 0;
}

.white-text{
  color: white
}